.Gaugage {
    width: 100%;
    background-color: var(--offset);
    border-radius: 6px;
    padding: 0.25rem 0.25rem;
    box-sizing: border-box;
    display: flex;
    margin: 0.25rem 0;
}

.Gaugage > .Gaugage__Fill {
    background-color: var(--primary);
    border-radius: 6px;
    height: 1.25rem;
}

.Gaugage > .Gaugage__Text {
    bottom: 0.15rem;
    align-self: center;
}