.Gaugage {
    width: 100%;
    background-color: var(--offset);
    border-radius: 6px;
    padding: 0.25rem 0.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
}

.Gaugage > .Gaugage__Fill {
    background-color: var(--primary);
    border-radius: 6px;
    height: 1.25rem;
}

.Gaugage > .Gaugage__Text {
    margin-top: -1.15rem;
    margin-bottom: 0.05rem;
    text-align: center;
    opacity: 0;
    transition-duration: .2s;
}

.Gaugage:hover > .Gaugage__Text {
    opacity: 1;
}