.Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.Grid:not(:last-child) {
    margin-bottom: 1rem;
}

@media (min-width: 1065px) {
    .Grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.Grid__Item {
    padding: 0.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 8%), 0 2px 10px 0 rgb(0 0 0 / 6%);
}

.Grid__ItemMain {
    display: flex;
}

.Grid__Item > .Grid__ItemMain > img {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 6px;
}

.Grid__Item > .Grid__ItemMain > div {
    display: inline-block;
    width: 100%;

    padding: 0 0.125rem 0 0.5rem;
}

.Grid__ItemPerks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    text-align: center;
}

.Grid__ItemPerks > span {
    margin: 0 0.25rem 0.25rem 0.25rem;
}