.MainPanel {
    grid-area: MainPanel;
}

/*
    Escape the parent's padding by reversing it.
    Additionally at bottom some space for the name is created.
*/
.MainPanel .ProfileImage {
    margin-bottom: -2.5rem;
    width: 100%;
    height: auto;
}

.MainPanel .ProfileName {
    font-family: var(--header-font);
    font-size: 2rem;
    color: #FFF;

    position: relative;
    top: -0.5rem;
}

.MainPanel > .MainPanel__Social, 
.MainPanel > .MainPanel__Languages, 
.MainPanel > .MainPanel__Profile,
.MainPanel > .MainPanel__SoftSkills,
.MainPanel > .MainPanel__About {
    padding: 0 1rem 0 1rem;
}

/*
    Social Icons should be in grayscale by default
*/
.MainPanel > .MainPanel__Social .bi-github {
    color: black;
}