.App {
    background-color: var(--offset);
    font-family: var(--text-font);

    min-height: 100vh;
}

.App > .AppGrid {
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 1rem auto auto auto auto;
    grid-template-areas: 
        ". . ."
        ". MainPanel ."
        ". SkillPanel ."
        ". EducationPanel ."
        "Footer Footer Footer";
    gap: 1rem;
}
@media (min-width: 1065px) {
    .App > .AppGrid {
        grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
        grid-template-rows: 1rem auto 1fr auto;
        grid-template-areas: 
            ". . . . ."
            ". MainPanel SkillPanel SkillPanel ."
            ". MainPanel EducationPanel EducationPanel ."
            "Footer Footer Footer Footer Footer";
    }
}

@media (min-width: 1600px) {
    .App > .AppGrid {
        grid-template-columns: 12% 25rem 1fr 1fr 12%;
        grid-template-areas: 
            ". . . . ."
            ". MainPanel SkillPanel SkillPanel ."
            ". MainPanel EducationPanel EducationPanel ."
            "Footer Footer Footer Footer Footer";
    }
}

.AppGrid > .AppPanel {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}